<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Html.GetUrlContent("/Content/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Html.GetUrlContent("/Content/css/font-awesome.css")" rel="stylesheet" />
    <link href="@Html.GetUrlContent("/Content/css/animate.css")" rel="stylesheet" />
    <link href="@Html.GetUrlContent("/Content/css/style.css")" rel="stylesheet" />
    @RenderSection("CSSExtend", required: false)
    <link href="@Html.GetUrlContent("/Content/css/mystyle.css")" rel="stylesheet" />
</head>
<body class="mybody gray-bg">
    <div class="wrapper wrapper-content1">
        @RenderBody()
    </div>
    <input id="pagehd" type="hidden" value="@string.Format("{0:yyyyMMddHHmmssfff}",DateTime.Now)" />
</body>
</html>
<script type="text/javascript" src="/WebJSExt/GetAuthPages?p=@Url.Encode(Request.Url.AbsolutePath)"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/WebJSExt/EnumJS")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/jquery-2.2.0.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/public/jquery.md5.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/public/jquery.cookie.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/plugins/bootstrap/bootstrap.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/plugins/layer/layer.min.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/public/tools.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/public/myfuns.js")"></script>
<script type="text/javascript" src="@Html.GetUrlContent("/Scripts/public/helper.js")"></script>
@RenderSection("JSExtend", required: false)
@Html.Partial("_Tippartial")